ADMIN_IDS=
AUTO_SCAN_INTERVAL_SECONDS=30
BOT_DISPLAY_NAME=工具机器人
BOT_SLOGAN=多功能查询 / 工具箱
BOT_TOKEN=
BROADCAST_INTERVAL_SECONDS=0.05
CHANNEL_URL=
DB_PATH=bot_data.db
ENABLE_EMOJI_REACTIONS=true
INVITE_REWARD_POINTS=2
MIN_ORDER_AMOUNT=1
OKPAY_API_PREFIX=/shop
OKPAY_API_ROOT=https://api.okaypay.me
OKPAY_APP_ID=
OKPAY_APP_TOKEN=
OKPAY_CALLBACK_PORT=8088
OKPAY_NOTIFY_URL=
OKPAY_REDIRECT_URL=
OKPAY_TO_POINTS=7
PAYMENT_EXPIRE_MINUTES=30
REACTION_ON_ADMIN_ACTION=👍
REACTION_ON_PAYMENT=🎉
REACTION_ON_TOOL_RESULT=⚡
STOCK_API_KEY=
SUPPORT_USERNAME=
TONCENTER_API_KEY=
TZ_OFFSET_HOURS=8
USDT_JETTON_MASTER=EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs
USDT_RECEIVE_ADDRESS_POOL=
USDT_TO_POINTS=7
WEATHER_API_KEY=
